<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">

    <script src="/static/js/jquery.js"></script>

    <script src="/static/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/datetimepicker//bootstrap-datetimepicker.zh-CN.js"></script>


    <style type="text/css">
        th, td {
            text-align: center;
        }

        .active {
            background-color: #ffc322 !important;
            color: black;
        }

        .td_active {
            background-color: #00FF00 !important;
        }

        .active_other {
            background-color: #00BFFF;
            color: white;
        }


    </style>
</head>
<body>
<h3>当前登录人: {{ request.user.username }}</h3>
<h3>会议室预订</h3>

<div class="clearfix">
    <div class="calender pull-right">
        <div class='input-group' style="width: 230px;margin-right: 50px">
            <input type='text' class="form-control" id='datetimepicker11' placeholder="请选择日期"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>

        </div>
    </div>
</div>
<hr>
{% csrf_token %}
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>会议室/时间</th>
            {% for item in time_choices %}
                <!--item为(1,"8:00")格式-->
                <th>{{ item.1 }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for room in room_list %}
            <tr>
                <td>{{ room.caption }}({{ room.num }}人)</td>
                {% for time_choice in time_choices %}
                    <td class="item" rid="{{ room.pk }}" tid="{{ time_choice.0 }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <button class="keep btn btn-primary pull-right" style="margin-right: 10px">保存</button>
</div>


<script>
    //  1 构建日期类型
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };

    // 2 为三种td标签绑定事件
    let books = {{ books|safe }}
        $.each(books, function (i, obj) {

            let choose_td = `[rid=${obj.room_id}][tid=${obj.time_id}]`;
            <!--通过坐标属性rid&tid ,渲染预定信息,当前登录人的预定信息active,其他人预定信息active_other-->
            if ("{{ request.user.username }}" == obj.user__username) {
                <!--属性选择器:$("[rid=][tid=]")-->
                $(choose_td).addClass("active").removeClass("item").text(obj.user__username)
            } else {
                $(choose_td).addClass("active_other").removeClass("item").text(obj.user__username)

            }

        });
    <!--当前用户不能预定他人已经预定的位置-->
    $(".active_other").click(function () {
        alert("已被占用!")
    });

    <!--没有被预定的房间绑定事件-->
    $("tbody").on("click", ".item", function () {
        <!--已经登录-->
        if ("{{ request.user.username }}") {
            <!--不存在则添加类，如果已设置则删除-->
            $(this).toggleClass('td_active');

        } else {
            <!--未登录-->
            location.href = "/login/"
        }

    });
    <!--当前登录用户已经预定的位置绑定事件-->
    $(".active").click(function (e) {
        $(this).removeClass('active').addClass("cancel item").html("");
        <!--取消绑定-->
        $(this).unbind("click");
        <!--阻止冒泡-->
        e.stopPropagation();
    });


    // 保存按钮事件
    $(".keep").click(function () {
        let POST_DATA = {
            DEL: {},
            ADD: {},
        };

        if ("{{ request.user.username }}") {

            //处理 预定信息 数据 (未被预定的房间被当前用户预定)
            $(".item.td_active").each(function (index, ele) {
                <!--当前用户再次选择已经预定过的信息,忽略不做处理-->
                if ($(this).hasClass("cancel")) {
                    return
                }
                let rid = $(this).attr("rid");
                let tid = $(this).attr("tid");

                if (POST_DATA.ADD[rid]) {
                    <!--"ADD":{"4":["7","8"]}-->
                    POST_DATA.ADD[rid].push(tid);
                } else {
                    <!--"ADD":{"3":["7"],"4":["7"]}-->
                    POST_DATA.ADD[rid] = [tid];
                }


            });
            //处理 取消预定 数据 (已被预定的房间被当前用户取消)
            $(".cancel.item").each(function (index, ele) {
                if ($(this).hasClass("td_active")) {
                    return
                }
                let rid = $(this).attr("rid");
                let tid = $(this).attr("tid");

                if (POST_DATA.DEL[rid]) {
                    <!--{"DEL":{"4":["7","8"]}-->
                    POST_DATA.DEL[rid].push(tid)
                } else {
                    <!--{"DEL":{"3":["7"],"4":["7"]}-->
                    POST_DATA.DEL[rid] = [tid]
                }
            });

            // 预订时间
            if (location.search.slice(11)) {
                CHOSEN_DATE = location.search.slice(11)
            } else {
                CHOSEN_DATE = new Date().Format('yyyy-MM-dd');
            }

            console.log(CHOSEN_DATE);

            //  Ajax请求预订
            $.ajax({
                url: "/book/",
                type: 'post',
                data: {
                    post_data: JSON.stringify(POST_DATA),
                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                    choose_date: CHOSEN_DATE,
                },
                success: function (data) {
                    console.log(data);
                    location.href = location.href
                }

            })

        } else {
            location.href = "/login/"
        }


    });

    <!--格式化字符串时间格式为yyyy-mm-dd-->
    function formatDate(date) {
        let d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }


    //    日期插件选择预订日期进行预订
    $('#datetimepicker11').datetimepicker({
        minView: "month",
        language: "zh-CN",
        sideBySide: true,
        format: 'yyyy-mm-dd',
        todayBtn: "linked",
        startDate: new Date(),
        initialDate: formatDate("{{ book_date }}"),
        bootcssVer: 3,
        autoclose: true,
    }).on('changeDate', book_query);

    function book_query(ev) {

        CHOSEN_DATE = ev.date.Format('yyyy-MM-dd');
        location.href = "/index/?book_date=" + CHOSEN_DATE

    }

</script>


</body>
</html>